<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>View Dogs</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{../css/main.css}" href="../static/css/main.css"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{../css/footer.css}" href="../static/css/footer.css"
          rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{../js/footer.js}" src="../static/js/footer.js"></script>

</head>
<body>
<h1>View Dogs</h1>

<table border ="1">

    <tr>

        <th>Dog Name</th>
        <th>Owner Name</th>
        <th>Breed</th>
        <th>Gender</th>
        <th>Class Specialty</th>
        <th colspan = "2">Modify Dogs</th>


    </tr>



        <tr th:each="dog: ${dogs}">
        <td th:text="${dog.dogName}"></td>
        <td th:text="${dog.ownerName}"></td>
        <td th:text="${dog.breed}"></td>
        <td th:text="${dog.gender}"></td>
        <td th:text="${dog.classSpecialty}"></td>



        <td> <a th:href="@{/editDog/{dogId} (dogId=${dog.dogId} ) }">Edit</a></td>
        <td> <a th:href="@{/deleteDog/{dogId} (dogId=${dog.dogId} ) }">Delete</a></td>

    </tr>

</table>

<br>

Go to <a th:href="@{/addDogLink}">Add New Dog</a><br>



Go to <a th:href="@{/}">Root</a>

<br><br>
<div sec:authorize="isAuthenticated()">
    User's Name: <span sec:authentication="name"></span>
    <br>
    Roles: <span sec:authentication="principal.authorities"></span>
    <br>
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Log out">
    </form>

</div>


<br><br>
<div th:if="${param.logout}">
    You have logged out
</div>

<img th:src="@{/img/summer.jpg}" width="450" height="250"/>


</body>

</html>